.mask{
    position: absolute;
    width: 100px;
    height: 45px;
    right: 0;
    top: 0;
    z-index: 2;
    background: -webkit-linear-gradient(left,rgba(255,255,255, 0) ,rgba(255,255,255,0.8));
} 
